.home-swiper,
.tips-swiper {
  margin-left: 70px;
  width: 860px;
  height: 525px;
  overflow: visible;
  clip-path: inset(-100vw -100vw -100vw -15px);
}
.home-swiper .swiper-slide-active,
.tips-swiper .swiper-slide-active {
  margin: 0 100px 0 25px;
}
.home-swiper .swiper-slide,
.tips-swiper .swiper-slide {
  transition: all 0.3s;
}
.home-swiper .swiper-slide .slide-con,
.tips-swiper .swiper-slide .slide-con {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: auto;
  cursor: pointer;
  background-color: var(--white);
  margin-left: -25px;
}
.home-swiper .swiper-slide .slide-con .left-img,
.tips-swiper .swiper-slide .slide-con .left-img {
  border-radius: 10px 0 0 10px;
  float: left;
  width: 58%;
  height: 100%;
  background-color: var(--white);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home-swiper .swiper-slide .slide-con .right-content,
.tips-swiper .swiper-slide .slide-con .right-content {
  height: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  border-top: 5px solid var(--button);
}
.home-swiper .swiper-slide .slide-con .right-content .title,
.tips-swiper .swiper-slide .slide-con .right-content .title {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 50px;
  line-height: 0.1;
}
.home-swiper .swiper-slide .slide-con .right-content .title span,
.tips-swiper .swiper-slide .slide-con .right-content .title span {
  font-weight: normal;
  font-size: 14px;
  color: var(--gray);
}
.home-swiper .swiper-slide .slide-con .right-content span,
.tips-swiper .swiper-slide .slide-con .right-content span {
  font-weight: bold;
  margin-top: 10px;
  color: var(--button);
  background-color: var(--white);
}
.home-swiper .swiper-slide .slide-con .right-content span:hover,
.tips-swiper .swiper-slide .slide-con .right-content span:hover {
  background-color: #f5f5f5;
}
.home-swiper .swiper-slide .slide-con:hover,
.tips-swiper .swiper-slide .slide-con:hover {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.4);
}
.home-swiper .swiper-button-prev,
.tips-swiper .swiper-button-prev {
  position: relative !important;
  top: -53.5% !important;
  left: -10px !important;
}
.home-swiper .swiper-button-next,
.tips-swiper .swiper-button-next {
  position: relative !important;
  top: -50% !important;
  left: 102% !important;
}
@media screen and (max-width: 1300px) {
  .home-swiper {
    width: 625px !important;
    height: 460px !important;
  }
  .home-swiper .swiper-slide .slide-con .right-content .title {
    line-height: 0.4 !important;
  }
  .home-swiper .swiper-slide .slide-con .right-content p {
    margin: 20px 0 10px 0 !important;
  }
}
@media screen and (max-width: 1024px) {
  .home-swiper {
    width: 90% !important;
    height: 856px !important;
    margin-left: 0 !important;
  }
  .home-swiper .swiper-slide .slide-con {
    height: 65% !important;
  }
  .home-swiper .swiper-slide .slide-con .left-img {
    width: 100%;
    height: 64% !important;
    border-radius: 10px 10px 0 0 !important;
  }
  .home-swiper .swiper-slide .slide-con .right-content {
    height: 35% !important;
  }
  .home-swiper .swiper-slide .slide-con .right-content p {
    margin: 10px 0 10px 0 !important;
  }
   /deep/ .swiper-slide-active {
    margin: 0 20px 0 25px;
  }
}
/*# sourceMappingURL=homeSwiper.css.map */